@charset "UTF-8";

html{
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Helvetica", sans-serif;
}

.clearfix::after, row::after{
    content: ' ';
    display: block;
    clear: both;
}

.button{
    display: inline-block;
    padding: .9em 2.5em;
    background-color: #4456DD;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

.button:hover{
    background-color: #5462d0;
}

.top-header{
    text-align: center;
}

.top-header-logo{
    margin: .7em;
}

.top-nav{
    background-color: #F2F2F2;
    text-align: center;
}

.top-nav ul{
    margin: 0;
    padding: 1em 0;
    list-style: none;
}

.top-nav a{
    color: black;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.top-nav a:hover{
    background-color: #ccc;
}

.top-content{
    padding: 1.5em;
    text-align: center;
}

.notredame{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.75em 3em;
}

.top-content-title{
    color: black;
    font-size: 2.6em;
    font-weight: normal;
    margin: 1.2em;
}

.middle-content{
    padding: 1.5em;
    text-align: center;
    background-color: #4456DD;
}

.middle-content article{
    background-color: #FFFFFF;
    padding: 1em;
    margin: 1.5em 4em;
    border-radius: 4px;
}

.meio-content{
    padding: 1.5em;
    text-align: center;
}

.meio-content article{
    padding: 2em;
}

.meio-content .button{
    margin-top: 1.5em;
}

.mulher-citacao{ /* escondendo a imagem da mulher */
    display: none;
}
.citacao-content{
    background-color: #4456DD;
    padding: 1.5em;
    text-align: center;
    font-size: .8em;
}
.citacao-content-title{
    color: white;
    font-style: italic;
}

.aspas{
    padding-left: .5em;
    padding-right: .5em;
    color: white;
    font-size: 2em;
    font-style: italic;
}

.citacao-content-autor{
    color: white;
    text-align: right;
    font-size: 1.3em;
}

.siginup-content{
    padding: 1.5em;
    text-align: center;
}

.mapa-site-content{
    background-color: black;
    padding: 1.5em;
    text-align: center;
}

.mapa-site-content ul{
    margin: 0;
    padding: .3em 0;
    list-style: none;

    display: inline-block;
    margin: .6em;
}

.mapa-site-content a{
    color: #808080;
    text-decoration: none;
    padding: .8em;
    display: block;
}

.mapa-site-content-title{
    color: white;
}

.mapa-site-content-sobre{
    color: #808080;
}

.redes-sociais{
    display: inline-block;
}
.redes-sociais li{
    display: inline-block;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer-content{
    background-color: #4456DD;
    padding: 1.5em;
    text-align: center;
}

.footer-content-footer{
    color: white;
}

/* media queries */

@media screen and (min-width: 48.75em){ /*780px*/
    
    .top-header{
        background-color: #F2F2F2;
    }
    .top-header-logo{
        float: left;
        margin-left: 55px;
    }
    .top-nav{
        float: right;
        margin-right: 55px;
    }
    .top-nav ul{
        margin: 0;
        padding: 0;
    }
    .top-nav li{
        display: inline-block;
    }
    .top-content-title{
        font-size: 2.5em;
        text-align: left;
        display: inline-block;
    }
    
    .middle-content{
        margin: 0;
        padding: 1.5em;
    }

    .middle-content article{
        padding: .5em;
        margin: .5em .5em;
    }

    .col-1-4{
        width: 44%;
        margin: 3%;
        float: left;
    }


}




